Foundation of computer science 

Progetto di Buccoliero Antonio

In [61]:
#Upload the datasets
import pandas as pd
import numpy as np
import json
movies= pd.read_csv('C:/Users/Antonello/Desktop/movies/tmdb_5000_movies.csv')
credits= pd.read_csv('C:/Users/Antonello/Desktop/movies/tmdb_5000_credits.csv')

In [62]:
movies.head() #show the movies table

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [63]:
credits.head()  #show the credits table

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [64]:
#We need to find a unique index, so we check if "movie_id" from credits table and "id" from movies tableare the same
def check_uniqueness(df, column):
    return len(df[column]) == len(df[column].drop_duplicates())
check_uniqueness(credits,'movie_id') and check_uniqueness(movies,'id')

True

In [65]:
#the index is unique,than to simplify the search i'll rename the column from movies database
movies.rename(columns={'id':'movie_id'}, inplace=True)

In [66]:
#As we can see, some dataframes of both datasets are written in json. To analyze that dataframes we need to extract the object
#using the following function
def extract_json(df, column):
    result = df[column].apply(pd.read_json) 
    movie_id = df['movie_id'] 
    for i in range(len(df)):
        result[i]['movie_id'] = movie_id[i] 
    return pd.concat(result.values).reset_index().drop("index", axis = 1)

In [68]:
#Create table from json field, named as the attribute and Deleted from dataset movies and credits
cast = extract_json(credits,'cast')

crew = extract_json(credits,'crew')

genres = extract_json(movies,'genres')

keywords = extract_json(movies,'keywords')

production_companies = extract_json(movies,'production_companies')

production_countries = extract_json(movies,'production_countries')

spoken_languages = extract_json(movies,'spoken_languages')


movies = movies.drop(['genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages'],axis = 1)

credits = credits.drop(['cast','crew'], axis = 1)

C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False


C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False


C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False


C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False


C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False


C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False


C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

1) For each movie, compute the number of cast members

In [69]:
cast_id=cast.groupby(by = ['movie_id'], as_index=False).size().to_frame().reset_index().rename(columns = {0:'n. actors'})
cast_members= cast_id.merge(right=credits[['title','movie_id']], on ='movie_id')
cast_members

      movie_id  n. actors                                              title
0            5         24                                         Four Rooms
1           11        106                                          Star Wars
2           12         24                                       Finding Nemo
3           13         66                                       Forrest Gump
4           14         40                                    American Beauty
5           16         29                                 Dancer in the Dark
6           18        115                                  The Fifth Element
7           19         21                                         Metropolis
8           20         12                                 My Life Without Me
9           22         70  Pirates of the Caribbean: The Curse of the Bla...
10          24         36                                  Kill Bill: Vol. 1
11          25         20                                            Jarhead
12          28         36                                     Apocalypse Now
13          33         33                                         Unforgiven
14          35         21                                 The Simpsons Movie
15          38         19              Eternal Sunshine of the Spotless Mind
16          55         25                                      Amores perros
17          58         33         Pirates of the Caribbean: Dead Man's Chest
18          59         15                              A History of Violence
19          62         60                              2001: A Space Odyssey
20          65         19                                             8 Mile
21          66         11                                     Absolute Power
22          68         22                                             Brazil
23          69         45                                      Walk the Line
24          70         49                                Million Dollar Baby
25          71         17                                       Billy Elliot
26          73         53                                 American History X
27          74         29                                  War of the Worlds
28          75         22                                      Mars Attacks!
29          76         27                                     Before Sunrise
...        ...        ...                                                ...
4730    370662          5                                     Time to Choose
4731    370980         11         Chiamatemi Francesco - Il Papa della gente
4732    371690         10                                          Rotor DR1
4733    373314          8                                         Misconduct
4734    374461         11                                         Mr. Church
4735    375290         19                                            Airlift
4736    375950         36                                 The Country Doctor
4737    376004          6                                         Adulterers
4738    376010         11                                   Western Religion
4739    376659         33                                           Bad Moms
4740    378200         15                                  The Perfect Match
4741    379532         19                                         Rodeo Girl
4742    380733          6                                Fight to the Finish
4743    381902         11                                  The Monkey King 2
4744    385383         16                                       Fight Valley
4745    385636          7                              Juliet and Alfa Romeo
4746    385736         11                                              Kicks
4747    386826          5                        A Beginner's Guide to Snuff
4748    389425         12                                      Code of Honor
4749    394047         30                                      The Dog Lover
4750    395766          9                                         The Secret
4751    396152          4                                        Restoration
4752    402515          4                                     American Beast
4753    407887         14                                 Operation Chromite
4754    408429         10                                     Perfect Cowboy
4755    417859         25                                      Puss in Boots
4756    426067         12                                   Midnight Cabaret
4757    426469         23                                   Growing Up Smith
4758    433715          4                                             8 Days
4759    459488          1                        To Be Frank, Sinatra at 100

[4760 rows x 3 columns]

In [72]:
#how many actors for The Dark Knight Rises?
cast_members[cast_members['title']=='The Dark Knight Rises']

      movie_id  n. actors                  title
3457     49026        158  The Dark Knight Rises

2) How many movies don't have a hompage?

In [73]:
movieshome= movies.dropna(subset=['homepage'])
no_home= len(movies)-len(movieshome)
print("Number of movies without homepage:", no_home)

Number of movies without homepage: 3091

3) For each year, how many movies do not have a hompage

In [77]:
movieshome2=movies[movies.homepage.isnull()]
movieshome2["year"]=movieshome2["release_date"].str.extract("(.*)-.*-.*", expand=True)
Year_home= movieshome2.groupby("year").size().to_frame().reset_index().rename(columns={0:'Movies that no have homepage'})
Year_home.head()

C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   year  Movies that no have homepage
0  1916                             1
1  1925                             1
2  1927                             1
3  1929                             2
4  1930                             1

In [13]:
Year_home.tail()

    year  Movies that no have homepage
84  2012                            92
85  2013                           127
86  2014                           157
87  2015                           110
88  2016                            31

4) Extract the domain of each homepage

In [78]:
def domaine(hp):
    domains = []
    homepage = hp.split(" ")
    for i in range(len(homepage)):
        domains.append(homepage[i].split('/')[2].split('.')[-1])
    return str(domains)[1:-1].replace("\'", "")

movieshome["domains"]=movieshome["homepage"].apply(domaine)
movieshome[["title","homepage","domains"]]

C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,title,homepage,domains
0,Avatar,http://www.avatarmovie.com/,com
1,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,com
2,Spectre,http://www.sonypictures.com/movies/spectre/,com
3,The Dark Knight Rises,http://www.thedarkknightrises.com/,com
4,John Carter,http://movies.disney.com/john-carter,com
5,Spider-Man 3,http://www.sonypictures.com/movies/spider-man3/,com
6,Tangled,http://disney.go.com/disneypictures/tangled/,com
7,Avengers: Age of Ultron,http://marvel.com/movies/movie/193/avengers_ag...,com
8,Harry Potter and the Half-Blood Prince,http://harrypotter.warnerbros.com/harrypottera...,com
9,Batman v Superman: Dawn of Justice,http://www.batmanvsupermandawnofjustice.com/,com
10,Superman Returns,http://www.superman.com,com
11,Quantum of Solace,http://www.mgm.com/view/movie/234/Quantum-of-S...,com
12,Pirates of the Caribbean: Dead Man's Chest,http://disney.go.com/disneypictures/pirates/,com
13,The Lone Ranger,http://disney.go.com/the-lone-ranger/,com
14,Man of Steel,http://www.manofsteel.com/,com
16,The Avengers,http://marvel.com/avengers_movie/,com
17,Pirates of the Caribbean: On Stranger Tides,http://disney.go.com/pirates/index-on-stranger...,com
18,Men in Black 3,http://www.sonypictures.com/movies/meninblack3/,com
19,The Hobbit: The Battle of the Five Armies,http://www.thehobbit.com/,com
20,The Amazing Spider-Man,http://www.theamazingspiderman.com,com
21,Robin Hood,http://www.robinhoodthemovie.com/,com
22,The Hobbit: The Desolation of Smaug,http://www.thehobbit.com/,com
23,The Golden Compass,http://www.goldencompassmovie.com/index_german...,com
25,Titanic,http://www.titanicmovie.com,com
26,Captain America: Civil War,http://marvel.com/captainamericapremiere,com
28,Jurassic World,http://www.jurassicworld.com/,com
29,Skyfall,http://www.skyfall-movie.com,com
30,Spider-Man 2,http://www.sonypictures.com/movies/spider-man2/,com
31,Iron Man 3,http://marvel.com/ironman3,com
32,Alice in Wonderland,http://disney.go.com/wonderland/,com
...,...,...,...
4695,Children of Heaven,http://www.miramax.com/movie/children-of-heaven/,com
4696,Weekend,http://weekenderfilm.tumblr.com/,com
4700,Another Earth,http://www.anotherearth.com/,com
4701,Sweet Sweetback's Baadasssss Song,http://www.sonyclassics.com/badass/,com
4704,Once,http://www.foxsearchlight.com/once/,com
4711,Aroused,http://thearousedproject.com/,com
4717,Your Sister's Sister,http://www.yoursisterssister-themovie.com/,com
4718,A Dog's Breakfast,http://www.adogsbreakfastmovie.com/,com
4720,The Birth of a Nation,http://www.foxsearchlight.com/thebirthofanation/,com
4722,Facing the Giants,http://www.facingthegiants.com/,com
4723,The Gallows,http://thegallowsmovie.com/,com
4731,Indie Game: The Movie,http://www.indiegamethemovie.com,com
4738,Pi,http://www.pithemovie.com/,com
4746,Tiger Orange,http://www.tigerorangemovie.com/,com
4750,The Dirties,http://www.thedirtiesthemovie.com/,com
4752,Tiny Furniture,http://tinyfurniture.com/,com
4756,The Call of Cthulhu,http://www.cthulhulives.org/cocmovie/index.html,org
4757,Bending Steel,http://www.bendingsteelmovie.com/,com
4758,The Signal,https://www.facebook.com/thesignalfilm,com
4760,This Is Martin Bonner,http://www.montereymedia.com/theatrical/films/...,com
4765,Raymond Did It,https://www.facebook.com/pages/Raymond-Did-It/...,com
4766,The Last Waltz,http://www.mgm.com/#/our-titles/1092/The-Last-...,com
4772,Down Terrace,http://downterrace.blogspot.com/,com
4773,Clerks,http://www.miramax.com/movie/clerks/,com
4781,Dry Spell,https://www.facebook.com/DrySpellMovie,com
4784,The Puffy Chair,http://www.thepuffychairmovie.com,com
4791,Tin Can Man,http://tincanmanthemovie.com/,com
4796,Primer,http://www.primermovie.com,com
4800,"Signed, Sealed, Delivered",http://www.hallmarkchannel.com/signedsealeddel...,com
4801,Shanghai Calling,http://shanghaicalling.com/,com

In [79]:
#which films has domain "it"
movieshome[["title","domains"]][movieshome["domains"]== "it"]

                 title domains
1945    The Best Offer      it
2881  The Great Beauty      it

5) Extract a set of normalized* tables

*usefull to reduce data redundancy and improve data integrity.

In [80]:
cast.drop(['name', 'gender' ], axis = 1, inplace = True)
cast_norm = cast.set_index('credit_id')

crew.drop(['name', 'gender' ], axis = 1, inplace = True)
crew_norm = crew.set_index('credit_id')

genres.rename(columns = {'id': 'genre_id'}, inplace = True)
genres['genre_id'] = genres['genre_id'].apply(int)
genres_name = genres[['genre_id','name']].drop_duplicates()
genres_name_norm = genres_name.set_index('genre_id').sort_index()
genres.drop('name',inplace = True, axis = 1)
genres_norm = genres.set_index(['genre_id','movie_id'])

keywords.rename(columns = {'id': 'keyword_id'}, inplace = True)
keywords['keyword_id'] = keywords['keyword_id'].apply(int)
keywords_name = keywords[['keyword_id','name']].drop_duplicates()
keywords_name_norm = keywords_name.set_index('keyword_id').sort_index()
keywords.drop('name',inplace = True, axis = 1)
keywords_norm = keywords.set_index(['keyword_id','movie_id'])

production_companies.rename(columns ={'id': 'company_id'}, inplace = True)
production_companies_name = production_companies[['company_id','name']].drop_duplicates()
production_companies_name_norm = production_companies_name.set_index('company_id').sort_index()
production_companies.drop('name',inplace = True, axis = 1)
production_companies_norm = production_companies.set_index(['company_id','movie_id'])

production_countries_name = production_countries[['iso_3166_1','name']].drop_duplicates()
production_countries_name_norm = production_countries_name.set_index('iso_3166_1').sort_index()
production_countries.drop('name',inplace = True, axis = 1)
production_countries_norm = production_countries.set_index(['iso_3166_1','movie_id'])

spoken_languages_name = spoken_languages[['iso_639_1','name']].drop_duplicates()
spoken_languages_name_norm = spoken_languages_name.set_index('iso_639_1').sort_index()
spoken_languages.drop('name',inplace = True, axis = 1)
spoken_languages_norm = spoken_languages.set_index(['iso_639_1','movie_id'])

List of normalized tables

In [81]:
cast_norm.head()

,cast_id,character,id,movie_id,order
credit_id,,,,,
5602a8a7c3a3685532001c9a,242.0,Jake Sully,65731.0,19995,0.0
52fe48009251416c750ac9cb,3.0,Neytiri,8691.0,19995,1.0
52fe48009251416c750aca39,25.0,Dr. Grace Augustine,10205.0,19995,2.0
52fe48009251416c750ac9cf,4.0,Col. Quaritch,32747.0,19995,3.0
52fe48009251416c750ac9d3,5.0,Trudy Chacon,17647.0,19995,4.0

In [82]:
crew_norm.head()

,department,id,job,movie_id
credit_id,,,,
52fe48009251416c750aca23,Editing,1721.0,Editor,19995
539c47ecc3a36810e3001f87,Art,496.0,Production Design,19995
54491c89c3a3680fb4001cf7,Sound,900.0,Sound Designer,19995
54491cb70e0a267480001bd0,Sound,900.0,Supervising Sound Editor,19995
539c4a4cc3a36810c9002101,Production,1262.0,Casting,19995

In [83]:
genres_norm.head()

Empty DataFrame
Columns: []
Index: [(28, 19995), (12, 19995), (14, 19995), (878, 19995), (12, 285)]

In [84]:
spoken_languages_name_norm.tail()

                  name
iso_639_1
xh
xx         No Language
yi
zh                 普通话
zu             isiZulu

In [85]:
production_companies_norm.head()

Empty DataFrame
Columns: []
Index: [(289.0, 19995), (306.0, 19995), (444.0, 19995), (574.0, 19995), (2.0, 285)]

6) For each movie, compute the gross margin

In [86]:
movies["gross_margin"]= movies["revenue"]-movies["budget"]
m_gross=movies[['title',"revenue","budget","gross_margin"]]
m_gross

,title,revenue,budget,gross_margin
0,Avatar,2787965087,237000000,2550965087
1,Pirates of the Caribbean: At World's End,961000000,300000000,661000000
2,Spectre,880674609,245000000,635674609
3,The Dark Knight Rises,1084939099,250000000,834939099
4,John Carter,284139100,260000000,24139100
5,Spider-Man 3,890871626,258000000,632871626
6,Tangled,591794936,260000000,331794936
7,Avengers: Age of Ultron,1405403694,280000000,1125403694
8,Harry Potter and the Half-Blood Prince,933959197,250000000,683959197
9,Batman v Superman: Dawn of Justice,873260194,250000000,623260194
10,Superman Returns,391081192,270000000,121081192
11,Quantum of Solace,586090727,200000000,386090727
12,Pirates of the Caribbean: Dead Man's Chest,1065659812,200000000,865659812
13,The Lone Ranger,89289910,255000000,-165710090
14,Man of Steel,662845518,225000000,437845518
15,The Chronicles of Narnia: Prince Caspian,419651413,225000000,194651413
16,The Avengers,1519557910,220000000,1299557910
17,Pirates of the Caribbean: On Stranger Tides,1045713802,380000000,665713802
18,Men in Black 3,624026776,225000000,399026776
19,The Hobbit: The Battle of the Five Armies,956019788,250000000,706019788
20,The Amazing Spider-Man,752215857,215000000,537215857
21,Robin Hood,310669540,200000000,110669540
22,The Hobbit: The Desolation of Smaug,958400000,250000000,708400000
23,The Golden Compass,372234864,180000000,192234864
24,King Kong,550000000,207000000,343000000
25,Titanic,1845034188,200000000,1645034188
26,Captain America: Civil War,1153304495,250000000,903304495
27,Battleship,303025485,209000000,94025485
28,Jurassic World,1513528810,150000000,1363528810
29,Skyfall,1108561013,200000000,908561013
...,...,...,...,...
4773,Clerks,3151130,27000,3124130
4774,Pink Narcissus,0,27000,-27000
4775,Funny Ha Ha,76901,0,76901
4776,In the Company of Men,0,0,0
4777,Manito,0,0,0
4778,Rampage,0,0,0
4779,Slacker,0,0,0
4780,Dutch Kills,0,0,0
4781,Dry Spell,0,22000,-22000
4782,Flywheel,0,0,0
4783,Backmask,0,0,0
4784,The Puffy Chair,0,0,0
4785,Stories of Our Lives,0,0,0
4786,Breaking Upwards,0,0,0
4787,All Superheroes Must Die,0,0,0
4788,Pink Flamingos,6000000,12000,5988000
4789,Clean,0,0,0
4790,The Circle,0,0,0
4791,Tin Can Man,0,13,-13
4792,Cure,99000,20000,79000
4793,On The Downlow,0,0,0
4794,Sanctuary: Quite a Conundrum,0,0,0
4795,Bang,0,0,0
4796,Primer,424760,7000,417760
4797,Cavite,0,0,0
4798,El Mariachi,2040920,220000,1820920
4799,Newlyweds,0,9000,-9000
4800,"Signed, Sealed, Delivered",0,0,0
4801,Shanghai Calling,0,0,0
4802,My Date with Drew,0,0,0

In [87]:
movies[["title","revenue","budget","gross_margin"]][movies.title == "Avatar"]

    title     revenue     budget  gross_margin
0  Avatar  2787965087  237000000    2550965087

7) For each movie, compute the number of crew member

In [89]:

crew_members = crew.groupby(by = ['movie_id',], as_index = False).size().to_frame().reset_index().rename(columns = {0:'n. of crew members'})
crew_for_movie = crew_members.merge(right = movies[['movie_id','title']], on = 'movie_id')
crew_for_movie

,movie_id,n. of crew members,title
0,5,88,Four Rooms
1,11,20,Star Wars
2,12,104,Finding Nemo
3,13,93,Forrest Gump
4,14,109,American Beauty
5,16,62,Dancer in the Dark
6,18,134,The Fifth Element
7,19,22,Metropolis
8,20,17,My Life Without Me
9,22,128,Pirates of the Caribbean: The Curse of the Bla...
10,24,161,Kill Bill: Vol. 1
11,25,10,Jarhead
12,28,49,Apocalypse Now
13,33,43,Unforgiven
14,35,66,The Simpsons Movie
15,38,21,Eternal Sunshine of the Spotless Mind
16,55,59,Amores perros
17,58,23,Pirates of the Caribbean: Dead Man's Chest
18,59,35,A History of Violence
19,62,19,2001: A Space Odyssey
20,65,92,8 Mile
21,66,18,Absolute Power
22,68,30,Brazil
23,69,65,Walk the Line
24,70,81,Million Dollar Baby
25,71,17,Billy Elliot
26,73,100,American History X
27,74,164,War of the Worlds
28,75,21,Mars Attacks!
29,76,12,Before Sunrise
...,...,...,...
4745,370662,3,Time to Choose
4746,370980,6,Chiamatemi Francesco - Il Papa della gente
4747,371690,14,Rotor DR1
4748,373314,14,Misconduct
4749,374461,9,Mr. Church
4750,375290,13,Airlift
4751,375950,5,The Country Doctor
4752,376004,41,Adulterers
4753,376010,3,Western Religion
4754,376659,4,Bad Moms
4755,378200,5,The Perfect Match
4756,379532,9,Rodeo Girl
4757,380733,1,Fight to the Finish
4758,381902,3,The Monkey King 2
4759,385383,7,Fight Valley
4760,385636,8,Juliet and Alfa Romeo
4761,385736,15,Kicks
4762,386826,7,A Beginner's Guide to Snuff
4763,389425,29,Code of Honor
4764,394047,6,The Dog Lover
4765,395766,2,The Secret
4766,396152,3,Restoration
4767,402515,2,American Beast
4768,407887,5,Operation Chromite
4769,408429,1,Perfect Cowboy
4770,417859,21,Puss in Boots
4771,426067,1,Midnight Cabaret
4772,426469,3,Growing Up Smith
4773,433715,3,8 Days
4774,459488,1,"To Be Frank, Sinatra at 100"

8) For each movie, compute the number of director

In [90]:
movie_director= crew[crew['job']=='Director'].groupby(by = 'movie_id').size().to_frame().reset_index().rename(columns = {0:'n. directors'})
director_for_movie = movie_director.merge(right = movies[['movie_id','title']], on = 'movie_id')
director_for_movie

,movie_id,n. directors,title
0,5,4,Four Rooms
1,11,1,Star Wars
2,12,1,Finding Nemo
3,13,1,Forrest Gump
4,14,1,American Beauty
5,16,1,Dancer in the Dark
6,18,1,The Fifth Element
7,19,1,Metropolis
8,20,1,My Life Without Me
9,22,1,Pirates of the Caribbean: The Curse of the Bla...
10,24,1,Kill Bill: Vol. 1
11,25,1,Jarhead
12,28,1,Apocalypse Now
13,33,1,Unforgiven
14,35,1,The Simpsons Movie
15,38,1,Eternal Sunshine of the Spotless Mind
16,55,1,Amores perros
17,58,1,Pirates of the Caribbean: Dead Man's Chest
18,59,1,A History of Violence
19,62,1,2001: A Space Odyssey
20,65,1,8 Mile
21,66,1,Absolute Power
22,68,1,Brazil
23,69,1,Walk the Line
24,70,1,Million Dollar Baby
25,71,1,Billy Elliot
26,73,1,American History X
27,74,1,War of the Worlds
28,75,1,Mars Attacks!
29,76,1,Before Sunrise
...,...,...,...
4743,370662,1,Time to Choose
4744,370980,1,Chiamatemi Francesco - Il Papa della gente
4745,371690,1,Rotor DR1
4746,373314,1,Misconduct
4747,374461,1,Mr. Church
4748,375290,1,Airlift
4749,375950,1,The Country Doctor
4750,376004,1,Adulterers
4751,376010,1,Western Religion
4752,376659,2,Bad Moms
4753,378200,1,The Perfect Match
4754,379532,1,Rodeo Girl
4755,380733,1,Fight to the Finish
4756,381902,1,The Monkey King 2
4757,385383,1,Fight Valley
4758,385636,1,Juliet and Alfa Romeo
4759,385736,1,Kicks
4760,386826,1,A Beginner's Guide to Snuff
4761,389425,1,Code of Honor
4762,394047,1,The Dog Lover
4763,395766,1,The Secret
4764,396152,1,Restoration
4765,402515,2,American Beast
4766,407887,1,Operation Chromite
4767,408429,1,Perfect Cowboy
4768,417859,1,Puss in Boots
4769,426067,1,Midnight Cabaret
4770,426469,1,Growing Up Smith
4771,433715,1,8 Days
4772,459488,1,"To Be Frank, Sinatra at 100"

9) For each language, compute the number of movies where such language is spoken

In [91]:
movies_lang= spoken_languages.groupby(by=['iso_639_1'],as_index=False).size().to_frame().reset_index().rename(columns = {0:'n. movies spoken'})
movies_lang

   iso_639_1  n. movies spoken
0         af                 7
1         am                 1
2         ar                67
3         bg                 3
4         bm                 1
5         bn                 1
6         bo                 4
7         br                 1
8         bs                 2
9         ca                 1
10        ce                 1
11        cn                48
12        co                 1
13        cs                38
14        cy                 2
15        da                14
16        de               262
17        dz                 1
18        el                20
19        en              4485
20        eo                 2
21        es               351
22        et                 2
23        fa                12
24        fi                 3
25        fr               437
26        ga                 6
27        gd                 6
28        gl                 1
29        he                33
..       ...               ...
57        ps                 2
58        pt                68
59        ro                13
60        ru               185
61        sa                 1
62        sh                 4
63        si                 1
64        sk                 2
65        sl                 1
66        so                 3
67        sq                 4
68        sr                 6
69        st                 1
70        sv                22
71        sw                 8
72        ta                 4
73        te                 1
74        th                40
75        tl                 1
76        to                 1
77        tr                18
78        uk                 9
79        ur                15
80        vi                17
81        wo                 1
82        xh                 4
83        xx                 2
84        yi                 8
85        zh               107
86        zu                 4

[87 rows x 2 columns]

10) For each company and decade, compute the overall revenue

In [92]:
movies["year"] = movies["release_date"].str.extract("(.*)-.*-.*",expand=True)

def isdecade(year):
    return str(year)[:3] + '0'
movies['decade'] = movies['year'].apply(isdecade)
companies_id = production_companies.merge(right=movies[['movie_id','revenue','decade']], on='movie_id')
companies_name = production_companies_name.merge(right=companies_id[['company_id','revenue','decade']], on='company_id')
tot_revenue=companies_name.groupby(by =['company_id','name','decade'], as_index=False).sum()
tot_revenue

      company_id                                      name decade      revenue
0            1.0                                 Lucasfilm   1970    915398007
1            1.0                                 Lucasfilm   1980   2430621397
2            1.0                                 Lucasfilm   1990    924317558
3            1.0                                 Lucasfilm   2000   2286034361
4            1.0                                 Lucasfilm   2010     50365377
5            2.0                      Walt Disney Pictures   1940     83320000
6            2.0                      Walt Disney Pictures   1990   3030921011
7            2.0                      Walt Disney Pictures   2000  11096721366
8            2.0                      Walt Disney Pictures   2010  14472293671
9            3.0                   Pixar Animation Studios   1990   1234179761
10           3.0                   Pixar Animation Studios   2000   4476710793
11           3.0                   Pixar Animation Studios   2010   4098902234
12           4.0                        Paramount Pictures   1920       650422
13           4.0                        Paramount Pictures   1930      2200025
14           4.0                        Paramount Pictures   1950     43000000
15           4.0                        Paramount Pictures   1960    134245712
16           4.0                        Paramount Pictures   1970    796329984
17           4.0                        Paramount Pictures   1980   4431144486
18           4.0                        Paramount Pictures   1990   8824732067
19           4.0                        Paramount Pictures   2000  11536104632
20           4.0                        Paramount Pictures   2010  15110115837
21           5.0                         Columbia Pictures   1930     17033101
22           5.0                         Columbia Pictures   1950      9600000
23           5.0                         Columbia Pictures   1970     31755742
24           5.0                         Columbia Pictures   1980    215572367
25           5.0                         Columbia Pictures   1990   2130030687
26           5.0                         Columbia Pictures   2000  12168859651
27           5.0                         Columbia Pictures   2010  14026783227
28           6.0                        RKO Radio Pictures   1930      3202000
29           6.0                        RKO Radio Pictures   1940     99344124
...          ...                                       ...    ...          ...
6126     90897.0                                   Act III   1980     52287414
6127     91005.0                            Lyrick Studios   1990            0
6128     91542.0                                Aver Media   2000            0
6129     91543.0                         North West Vision   2000            0
6130     91920.0                           Rovio Animation   2010    349779543
6131     91929.0                      Criminal Productions   2010     14708696
6132     92137.0                  Dead Fiancée Productions   2000            0
6133     93101.0                                Keshet Hot   2000            0
6134     93102.0                              Uchovsky Fox   2000            0
6135     93103.0                       Ronen Ben-Tal Films   2000            0
6136     93104.0                      Feingold Productions   2000            0
6137     93105.0                                 IAC Films   2010     11110975
6138     93156.0                                Baby Films   2000            0
6139     93177.0                      Watchmen Productions   2010            0
6140     93280.0                         Friday Four, Inc.   1980     32980880
6141     93380.0                Eleventh Street Production   1990      3011195
6142     93381.0                                 Jon Kilik   1990      3011195
6143     93408.0                         FortyFour Studios   2000    521311860
6144     93521.0                      Rye Road Productions   2000     16633035
6145     93522.0                 Babe Ruthless Productions   2000     16633035
6146     93528.0                 Casual Friday Productions   2000    110230332
6147     93542.0                            bob industries   2010     52501541
6148     93580.0  Wonder works studios entertainment group   2000     72700000
6149     94410.0                  Dracula Productions Inc.   2000            0
6150     94411.0                   Vonnie Von Helmolt Film   2000            0
6151     94551.0                      4Go West Productions   2010            0
6152     94552.0                         Flatiron Pictures   2010            0
6153     94714.0                   Vista Organisation, The   1980            0
6154     95018.0             MPH Entertainment Productions   2000    368744044
6155     95063.0                               Marcy Media   2010    133821816

[6156 rows x 4 columns]

In [93]:
#which companies/company reach a revenue betther then 20000000000 and in which decade?
tot_revenue[tot_revenue.revenue > 20000000000]

      company_id          name decade      revenue
2253      6194.0  Warner Bros.   2000  22897419289

11) For each decade, compute the company with maximum revenue

In [94]:
best_revenue10= tot_revenue.groupby(by =['decade'])[["revenue"]].apply(max, axis = 0).reset_index()
best_revenue = best_revenue10["revenue"].values
decade = best_revenue10["decade"].values

for i in range(len(best_revenue10)):
    print(tot_revenue[tot_revenue["decade"]==decade[i]][tot_revenue["revenue"]==best_revenue[i]],"\n")

     company_id                       name decade  revenue
978      1307.0  Triangle Film Corporation   1910  8394751
979      1308.0       Wark Producing Corp.   1910  8394751

      company_id                       name decade   revenue
2694      8411.0  Metro-Goldwyn-Mayer (MGM)   1920  26358000

      company_id                             name decade    revenue
1044      1553.0  Selznick International Pictures   1930  400176459
2695      8411.0        Metro-Goldwyn-Mayer (MGM)   1930  400176459

      company_id                     name decade    revenue
1652      3166.0  Walt Disney Productions   1940  351747150

      company_id                       name decade   revenue
2697      8411.0  Metro-Goldwyn-Mayer (MGM)   1950  73770324

      company_id             name decade    revenue
2560      7576.0  Eon Productions   1960  598134765

     company_id            name decade     revenue
109        60.0  United Artists   1970  1392271577

    company_id                name decade     revenue
17         4.0  Paramount Pictures   1980  4431144486

    company_id                name decade     revenue
18         4.0  Paramount Pictures   1990  8824732067

      company_id          name decade      revenue
2253      6194.0  Warner Bros.   2000  22897419289

    company_id                name decade      revenue
75        33.0  Universal Pictures   2010  15521006459

C:\Users\Antonello\Anaconda3\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

12) For each year,how many movies have a loss?

In [95]:
Year_loss=movies[movies.budget > movies.revenue].groupby(by=("year")).size().reset_index().rename(columns = {0:"n. movies in loss"})
Year_loss

    year  n. movies in loss
0   1927                  1
1   1947                  1
2   1948                  1
3   1954                  1
4   1962                  1
5   1963                  1
6   1964                  2
7   1965                  3
8   1966                  1
9   1968                  2
10  1969                  1
11  1970                  4
12  1971                  1
13  1972                  1
14  1974                  1
15  1977                  4
16  1978                  1
17  1979                  2
18  1980                  5
19  1981                 11
20  1982                  1
21  1983                  5
22  1984                  9
23  1985                  9
24  1986                  9
25  1987                  3
26  1988                  4
27  1989                  6
28  1990                  4
29  1991                 10
30  1992                  9
31  1993                 15
32  1994                 15
33  1995                 19
34  1996                 32
35  1997                 33
36  1998                 39
37  1999                 55
38  2000                 53
39  2001                 56
40  2002                 71
41  2003                 47
42  2004                 61
43  2005                 55
44  2006                 63
45  2007                 55
46  2008                 64
47  2009                 78
48  2010                 65
49  2011                 70
50  2012                 52
51  2013                 62
52  2014                 59
53  2015                 67
54  2016                 26